<div class="ui menu">
    <div class="header item">
        FoxSee
    </div>
    <a class="item">
        Home
    </a>
    <a class="item">
        Projects
    </a>

    <div class="right menu">
        <a class="item" {{action 'signin'}}>Sign in</a>
        <a class="item" {{action 'signup'}}>Register</a>
    </div>
</div>